  *{
    background-color: black;
    color: white;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }

  h1{
    font-size: 48px;
  }
  .container{
      margin:50px;
  }

  .form{
    margin: 20px;
    font-size: 20px;
  }

  #BName, #IssuedTo{
    border: 1px solid white;
    margin: 10px;
    height: 40px;
    width: 200px;
  }

  #myTable{
        margin: 20px;
        width: 70%;
        height: 1000px;
  }
  #btn{
    width: 400px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 20px;
  }

  table,thead,th {
        border: 2px solid white;
        border-collapse: collapse;
        padding: 10px;
        font-size: 20px;
 }

 td{
    padding: 8px;
 }
